<nav>
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Categories</a>
    </li>
  </ul>

  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="#">Register</a>
    </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">Login</a>
  </li>
  </ul>
</nav>
